body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.label {
  display: block;
}

input,
select {
  width: 100%;
}
input[type="radio"] {
  width: auto;
}
.d-flex {
  display: flex;
}

.v-center {
  justify-content: center;
}

.h-center {
  align-items: center;
}

.pa-16 {
  padding: 16px;
  display: flex;
  width: 60%;
}
.pa-16-1 {
  flex: 1;
  margin: 10px;
  width: 50%;
  padding-right: 1rem;
}
.pa-16-2 {
  margin-right: 20px;
  width: 50%;
  font-size: 1.5rem;
  padding: 2rem;
}

.mb-16 {
  margin-bottom: 16px;
}

.radiostyle {
  width: 100%;
}

.btn-primary {
  background-color: green;
  color: white;
}

.btn-secondary {
  background-color: grey;
  color: white;
}

.w-50 {
  width: 50%;
}

button {
  width: 100%;
  height: 2rem;
}

header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
